#services {
  background-color: #060c21;
}
.services {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 4rem; */
}
.services .box {
  position: relative;
  height: 35rem;
  /* mobile height: 300px */
  /* background: #060c21; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #000;
  margin: 20px 20px;
}
.services .box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background-color: #fff;
  z-index: -1;
  transform: skew(2deg, 2deg);
}
.services .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.services .box:nth-child(1)::before {
  background-image: linear-gradient(315deg, #ff0057, #e64a19);
}
.services .box:nth-child(2)::before {
  background-image: linear-gradient(315deg, #89ff00, #00bcd4);
}
.services .box:nth-child(3)::before {
  background-image: linear-gradient(315deg, #e91e63, #5d02ff);
}
.services .box:nth-child(4)::before {
  background-image: linear-gradient(315deg, #ff0000, #ffc107);
}

.box:hover .services .box:nth-child(2)::before {
  background-image: linear-gradient(135deg, #ff0057, #e64a19);
}
.content {
  position: relative;
  width: 100%;
  padding: 2rem;
  transition: all 0.3s;
  transform: translateY(2rem);
}

.content h2 {
  position: absolute;
  top: -6rem;
  right: 2rem;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}

.box:hover .content h2 {
  top: -140px;
}
.box:hover .content {
  transform: translateY(3rem);
}
.content h3 {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 2.4rem;
  color: #fff;
}

.content p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}

.project__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.project__card {
  transition: all 0.3s;
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0 0.1re 0.2rem rgba(0, 0, 0, 0.35);
}

.project__face {
  width: 100%;
  position: relative;
  padding: 0.1rem;
}
.project__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__content img {
  width: 100%;
  height: 20rem;
}
.project__content h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 1rem 0;
}
.project__cta {
  border-top: 1px solid #ccc;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.project__content a {
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 1rem;
  text-transform: uppercase;
  color: #222;
  border-radius: 2rem;
  line-height: 200%;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
}

/* .project__card:hover a {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
} */
.project__card:hover,
a:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
}
.face1 {
  transform: translateY(4rem);
  transition: all 0.3s;
  background-color: #fff;
  z-index: 100;
}

.face2 {
  transform: translateY(-7rem);
  transition: all 0.3s;
  z-index: -1;
  padding: 1rem 2rem;
  background-color: #fff;
  line-height: 200%;
  letter-spacing: 0.1rem;
}

.project__card:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
}
.project__card .face2 .project__content .project__cta a:hover {
  background-color: red;
}

.project__card:hover .face1 {
  transform: translateY(0);
}
.project__card:hover .face2 {
  transform: translateY(0);
}
/* .project__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project__card {
  position: relative;
  background-color: #060c21;
}
.project_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project_content img {
  width: 80%;
  border-radius: 3rem;
}

.project__face {
  width: 200px;
  height: 200px;
  transition: 0.5s;
}
.project__face .face1 {
  position: relative;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.project__face .face2 {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
}
.projects {
}
.projects {
}
.projects {
} */
