.valid::after {
  content: "&radic;";
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1rem;
  height: 1rem;

  transform: translateY(-50%);
}

.card__image {
}

.card__cta {
  display: flex;
  justify-content: center;
}
.card__cta a {
  padding: 1rem;
  text-decoration: none;
}
