* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $d-font;
  color: $color-dark;
  line-height: 200% !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::selection {
  background: $color-primary;
  color: $color-white;
}

::-moz-selection {
  background: $color-primary;
  color: $color-white;
}

.container {
  position: relative;
}
