* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $d-font;
  color: $color-dark;
  line-height: 200% !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::selection {
  background: $color-primary;
  color: $color-white;
}

::-moz-selection {
  background: $color-primary;
  color: $color-white;
}

.container {
  position: relative;
}
.col-12,
.col-4 {
  @include flex-props;
}

h1 {
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: $color-dark;
}
h5 {
  background-color: transparent !important;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.55rem;
}
