///////////////////////////// PROJECT CARD ////////////////////////////

.project {
  &__container {
    width: 100%;
    position: relative;
    padding: 1rem;
    min-height: 100vh;

    @include flex-props;

    @include respond(phone) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__img {
    width: 30rem;
    height: auto;
  }

  &__card {
    position: relative;
    margin: 1rem 0;
  }

  &__face {
    width: 30rem;
    height: 30rem;
    transition: 0.5s;

    &--face1 {
      position: relative;
      background: $color-primary-light;
      z-index: 1;
      transform: translateY(15rem);

      @include flex-props;

      .content {
        opacity: 0.2;
        transition: 0.5s;
        text-align: center;

        h3 {
          margin: 10px 0 0;
          padding: 0;
          color: $color-light;
          font-size: 1.5em;
        }
      }
    }

    &--face2 {
      position: relative;
      background: $color-white;
      padding: 1rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
      transform: translateY(-15rem);

      @include flex-props;

      .content {
        a {
          margin: 1rem;
          display: inline-block;
          text-decoration: none;
          font-weight: 900;
          color: $color-dark;
          padding: 0.5rem 1rem;
          border: 1px solid $color-dark;
          transition: all 0.3s;

          &:hover {
            background: $color-dark;
            color: $color-white;
          }
        }

        p {
          margin: 0;
          padding: 0;
          color: $color-dark;
        }
      }
    }
  }

  &__card:hover &__face--face1 {
    transform: translateY(0);
    background: #ff0057;

    .content {
      opacity: 1;
    }
  }

  &__card:hover &__face--face2 {
    transform: translateY(0);
  }
}

//////////////////////////SERVICE CARD//////////////
.services {
  width: 100%;
  position: relative;
  flex-wrap: wrap;

  @include flex-props;

  &__card {
    position: relative;
    height: 35rem;
    border: 0.5px solid $color-black;
    margin: 1rem;

    @include flex-props;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      background-color: $color-white;
      z-index: -1;
      transform: skew(2deg, 2deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: rgba(255, 255, 255, 0.05);
      pointer-events: none;
    }
  }
  &__content {
    position: relative;
    width: 100%;
    padding: 2rem;
    transition: all 0.3s;
    transform: translateY(2rem);

    h2 {
      position: absolute;
      top: -6rem;
      right: 2rem;
      margin: 0;
      padding: 0;
      font-size: 10em;
      color: rgba(255, 255, 255, 0.05);
      transition: 0.5s;
    }
    h3 {
      margin: 0 0 1rem;
      padding: 0;
      font-size: 2.4rem;
      color: $color-white;
    }
    p {
      margin: 0;
      padding: 0;
      color: $color-white;
      font-size: $d-font;
    }
  }

  &__card:hover &__content {
    transform: translateY(3rem);
  }
  &__card:hover &__content h2 {
    top: -140px;
  }
}
